/* CSS file placeholder. */
#headerdiv {
  display: block;
  width: 200px;
  text-align:center;
  font-size:14px;
}
#menudiv {
  display: block;
  width: 150px;
  text-align:center;
  font-size:12px;
}
#authorize-div {
  display: block;
  width: 200px;
  height: 500px;
  text-align:center;
  font-size:12px;
} 
btn-sm {
  padding:5px 10px;
  font-size:10px;
  line-height:1.5;
  border-radius:3px
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}