/* CSS file placeholder. */
#headerdiv {
  display: block;
  width: 200px;
  text-align:center;
  font-size:14px;
}
#menudiv {
  display: block;
  width: 150px;
  text-align:center;
  font-size:12px;
}
#authorize-div {
  display: block;
  width: 200px;
  height: 500px;
  text-align:center;
  font-size:12px;
} 
btn-sm {
  padding:5px 10px;
  font-size:10px;
  line-height:1.5;
  border-radius:3px
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}
.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
.styled-select {
   width: auto;
   height: 34px;
   overflow: hidden;
   background: url("down_arrow_select.jpg") no-repeat right #ddd;
   border: 1px solid #ccc;
   }
.bubblingG {
	text-align: center;
	width:78px;
	height:49px;
	margin: auto;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 24px auto;
	background: rgba(255,162,0,0.6);
	border-radius: 49px;
		-o-border-radius: 49px;
		-ms-border-radius: 49px;
		-webkit-border-radius: 49px;
		-moz-border-radius: 49px;
	animation: bubblingG 1.69s infinite alternate;
		-o-animation: bubblingG 1.69s infinite alternate;
		-ms-animation: bubblingG 1.69s infinite alternate;
		-webkit-animation: bubblingG 1.69s infinite alternate;
		-moz-animation: bubblingG 1.69s infinite alternate;
}

#bubblingG_1 {
	animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.51s;
		-o-animation-delay: 0.51s;
		-ms-animation-delay: 0.51s;
		-webkit-animation-delay: 0.51s;
		-moz-animation-delay: 0.51s;
}

#bubblingG_3 {
	animation-delay: 1.01s;
		-o-animation-delay: 1.01s;
		-ms-animation-delay: 1.01s;
		-webkit-animation-delay: 1.01s;
		-moz-animation-delay: 1.01s;
}

@keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgba(20,56,163,0.45);
		transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgba(83,203,224,0.77);
		transform: translateY(-20px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgba(20,56,163,0.45);
		-o-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgba(83,203,224,0.77);
		-o-transform: translateY(-20px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgba(20,56,163,0.45);
		-ms-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgba(83,203,224,0.77);
		-ms-transform: translateY(-20px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgba(20,56,163,0.45);
		-webkit-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgba(83,203,224,0.77);
		-webkit-transform: translateY(-20px);
	}
}

@-moz-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgba(20,56,163,0.45);
		-moz-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgba(83,203,224,0.77);
		-moz-transform: translateY(-20px);
	}
}

.btnADD {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 3px #969496;
  -moz-box-shadow: 1px 1px 3px #969496;
  box-shadow: 1px 1px 3px #969496;
  font-family: Georgia;
  color: #5c5c5c;
  font-size: 20px;
  background: #ffffff;
  padding: 5px 7px 6px 7px;
  border: solid #c9c9c9 1px;
  text-decoration: none;
}

.btnADD:hover {
  background: #ffc278;
  background-image: -webkit-linear-gradient(top, #ffc278, #ff9a42);
  background-image: -moz-linear-gradient(top, #ffc278, #ff9a42);
  background-image: -ms-linear-gradient(top, #ffc278, #ff9a42);
  background-image: -o-linear-gradient(top, #ffc278, #ff9a42);
  background-image: linear-gradient(to bottom, #ffc278, #ff9a42);
  text-decoration: none;
}